In [1]:
import DBcm

In [2]:
creds = {
    "host": "localhost",
    "user": "gofishuser",
    "password": "gofishpasswd",
    "database": "gofishDB",
}

In [3]:
creds

{'host': 'localhost',
 'user': 'gofishuser',
 'password': 'gofishpasswd',
 'database': 'gofishDB'}

In [4]:
SQL = "select * from scores"

In [5]:
with DBcm.UseDatabase(creds) as db:
    db.execute(SQL)
    results = db.fetchall()

In [6]:
results

[('Fred', 55), ('Mary', 45), ('Jill', 89), ('Pat', 9)]

In [ ]:
for r in results:
    print(r)

In [ ]:
type(results)

In [ ]:
type(results[0])

In [ ]:
SQL = "select * from scores order by score desc"

with DBcm.UseDatabase(creds) as db:
    db.execute(SQL)
    results = db.fetchall()

results

In [ ]:
scores = [
    ("Jill", 91),
    ("Jill", 11),
    ("Jill", 31),
    ("Harry", 0),
    ("Harry", 21),
    ("Pat", 99),
    ("Pat", 98),
    ("Pat", 77),
    ("Pat", 89),
]

In [ ]:
scores

In [ ]:
SQL = "insert into scores (handle, score) values ('Jill', 189)"

In [ ]:
for score in scores:
    SQL = f"insert into scores (handle, score) values {score}"
    print(SQL)

In [ ]:
with DBcm.UseDatabase(creds) as db:
    for score in scores:
        SQL = f"insert into scores (handle, score) values {score}"   
        db.execute(SQL)

In [ ]:
with DBcm.UseDatabase(creds) as db:
    SQL = "select * from scores"
    db.execute(SQL)
    res = db.fetchall()

res

In [ ]:
with DBcm.UseDatabase(creds) as db:
    for score in scores:
        SQL = "insert into scores (handle, score) values (?, ?)"   # placeholder(s)
        db.execute(SQL, score)

In [ ]:
with DBcm.UseDatabase(creds) as db:
    SQL = "select * from scores"
    db.execute(SQL)
    res = db.fetchall()

res

In [ ]:
scores

In [ ]:
with DBcm.UseDatabase(creds) as db:
    SQL = "insert into scores (handle, score) values (?, ?)"   # Placeholder(s)
    db.executemany(SQL, scores)

In [ ]:
with DBcm.UseDatabase(creds) as db:
    SQL = """
        select * from scores
        order by score desc
    """
    db.execute(SQL)
    res = db.fetchall()

res

In [ ]:
with DBcm.UseDatabase(creds) as db:
    SQL = """
        insert into scores 
        (handle, score) 
        values 
        (?, ?)
    """
    db.executemany(SQL, scores)

In [ ]:
with DBcm.UseDatabase(creds) as db:
    SQL = """
        select * from scores
        order by score desc
    """
    db.execute(SQL)
    res = db.fetchall()

res

In [ ]:
with DBcm.UseDatabase(creds) as db:
    SQL = """
        select distinct * from scores
        order by score desc
    """
    db.execute(SQL)
    res = db.fetchall()

res